#login-form {
    top: 15vh;
    box-shadow: 2px 2px 3px #999;
}
  
#login-form .card-footer {
    background-color: #f0f0f0;
}

#login-form a {
    text-decoration: none;
    font-weight: bold;
}

.message-danger {
    color: red;
}

.message-default {
    color: #777;
}
