nav {
  color: white;
  font-weight: bold;
  height: 8em;
}

nav .btn {
  font-weight: bold;
}

.bg-dark .btn-outline-secondary {
  background-color: white;
}

#btn-update-report {
  width: 100%;
}

th, tr {
  cursor: pointer;
}

td:first-child {
  white-space: nowrap;
}

#message {
  font-weight: bold;
  font-size: large;
  text-align: center;
  margin: 10px 0px;
}

.infinity {
  line-height: 0;
  font-weight: normal;
  font-size: 150%;
}

.modal-header {
  background-color: darkblue;
  color: white;
}

.modal-header h5 {
  font-weight: bold;
}

.job-result-ok {
  color: green;
}

.job-result-fail {
  color: red;
}

#login-form {
  top: 15vh;
  width: 28em;
  box-shadow: 2px 2px 3px #999;
}

#login-form .card-footer {
  background-color: #f0f0f0;
}

#login-form a {
  text-decoration: none;
  font-weight: bold;
}

.message-danger {
  color: red;
}

.message-default {
  color: #777;
}

